@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@400;500;700&family=Rubik+Maps&family=Rubik+Scribble&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  width: 100%;
  position:sticky !important;
  left: 0;
  top: 0;
  box-shadow: 0 5px 8px rgb(0, 0, 0, 0.5);
  z-index: 10;
}

.navbar-brand {
  font-weight: bold; 
}

.nav-link:hover {
  border-bottom: 1px solid;
}

section{
  width: 100%;
  min-height: 100vh;
}
    /* Home */

#home {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0,0.4), rgb(0, 0, 0,0.4)), url(one-punchman-removebg-preview.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0);
  flex-direction: column;
}

#home p {
  color: rgb(153, 0, 0);
  position: absolute;
  top: 50%;
  font-size: 100px;
  opacity: 0;
  animation: text 3s ease-in-out;
}

#home p:nth-child(1) {
  animation-delay: 0s;
}

#home p:nth-child(2) {
  animation-delay: 3s;
}

#home p:nth-child(3) {
  animation-delay: 6s;
}

#home p:nth-child(4) {
  animation-delay: 9s;
}

span {
  color: yellow;
}

@keyframes text {
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@media screen and (max-width:576px) {
  #home  p {
    font-size: 80px;
  }
}

/* About*/

#about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 16, 208);
}

.circle {
  height: 400px;
  width: 400px;
  background-color: aqua;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.6);
  margin-bottom: 3%;
  margin-top: 8%;   
  transition: 1s;                        
}

.circle img {
  position: absolute;
  top: -24%;
  left: 19%;
  height: 350px;
  filter: drop-shadow(0 30px 15px rgba(0, 0, 0, 0.8));
  transition: 1s;
}

.circle:hover {
  height: 400px;
  width: 700px;
  border-radius: 5px;
  transition: 1s;
}

.circle img:hover {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.circle:hover .content {
  position: absolute;
  top: 15%;
  right: 2px;
  width: 50%;
  color: rgb(0, 0, 0);
  opacity: 1;
  transform: 1s;
}

.circle .content {
  opacity: 0;
  transition: 1s;
}

@media  screen and (max-width: 567px) {
  .circle {
    height: 400px;
    width: 400px;
    background-color: rgb(187, 0, 255);
    border-radius: 50%;
    position: relative;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.6);
    margin-bottom: 3%;
    margin-top: 8%;   
    transition: 1s;
  }

  .circle img:hover {
    position: absolute;
    top: 0;
    left: 8%;
    transition: 1s;
  }

  .circle:hover {
    height: 615px;
    width: 400px;
    border-radius: 5px;
    transition: 1s;
  }

  .circle:hover .content {
    position: absolute;
    top: 59%;
    right: 2px;
    padding: 15px;
    width: 100%;
    color: white;
    opacity: 1;
    transform: 1s;
  }
  
  .circle .content {
    opacity: 0;
    transition: 1s;
  }
}

/* Skills */

#skills {
  padding-top: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  background-color: rgb(234, 234, 234);
  padding-bottom: 0; 
}

.progress {
  height: 20px;
  margin-top: 5px;
  border-radius: 2px;
  box-shadow: 2px 4px 5px rgb(128, 128, 128) , -2px -2px 5px white;
}

.progress:hover {
  box-shadow: 2px 4px 5px white , -2px -2px 5px rgb(128, 128, 128);
}

/* Projects */

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  background: linear-gradient(160deg, lavender, purple);
}
.carousel {
  width: 80%;
  height: 80vh;
  box-shadow: 10px 20px 10px rgb(128, 128, 128, 0.5);
}

iframe {
  width: 100%;
  height: 80vh;
}

@media  screen and (max-width: 576px) {
  .carousel {
    width: 90%;
    height: 50vh;
    box-shadow: 10px 20px 10px rgb(128, 128, 128, 0.5);
  }

  iframe {
    width: 100%;
    height: 50vh;
  }
}

/* Pricing */

#pricing {
  padding-top: 3%;
  background-color: rgb(176, 190, 190);
}

.card {
  margin-top: 3%;
}

.card:hover {
  box-shadow: 4px 5px 8px rgb(128, 128, 128, 0.5);
}

/* Contact */

#contact {
  background-color: rgb(191, 194, 69);
  margin-top: 0;
}

.container {
  padding-top: 7%;
  padding-bottom: 3%;
}

iframe {
  box-shadow: 6px 6px 6px rgb(128, 128, 128, 0.8);
}